CHANGELOG.md

*.mod

/playground/

*.sum

*.go

/server-app/face_recognition/model-weights/*
/server-app/face_recognition/model-weights/20180402-114759/
/server-app/face_recognition/model-weights/20180408-102900/
/server-app/Face-Recognition-From-Crowd-master/

/database/pb_data/logs.db
/database/pb_data/logs.db*
/database/pb_data/data.db-shm
/database/pb_data/data.db-wal
*.pb

*.cfg

*.sh

*.prototxt

*.jpg

